In [1]:
import sys
sys.path.append("/home/ubuntu/ins-plt/DS-Inference-Scripts/rl_scripts/retrain/")

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
def tranpose(data, index_col, new_index_col):
    data = data.set_index(index_col).T.reset_index().rename(columns={'index': new_index_col})
    data.index.name = None
    data.columns.name = None
    return data

In [ ]:
import pandas as pd
import numpy as np
import cvxpy as cp
import traceback
from numpy import matlib as ml
from tqdm import tqdm
from eq_common_utils.utils.config.s3_config import s3_config

s3_helper = s3_config()

bucket = 'micro-ops-output'
prefix = 'test/portfolio-rebalance/hsbc_te300/data/'

/tmp
######################## S3Connection ######################

In [ ]:
benchmark = s3_helper.read_as_dataframe(bucket, prefix+"benchmark.csv")
caps = s3_helper.read_as_dataframe(bucket, prefix + "caps.csv")
closeprices = s3_helper.read_as_dataframe(bucket, prefix + "closeprices.csv")
ers = s3_helper.read_as_dataframe(bucket, prefix + "ers.csv")
sector_weights = s3_helper.read_as_dataframe(bucket, prefix + "sector_weights.csv")
region_weights = s3_helper.read_as_dataframe(bucket, prefix + "region_weights.csv")
selection = s3_helper.read_as_dataframe(bucket, prefix + 'selection.csv')
market_caps = s3_helper.read_as_dataframe(bucket, prefix +"market_caps.csv")

In [6]:
closeprices = closeprices.ffill().bfill().fillna(1.0)

isin_list = sector_weights['isin'].tolist()
common_cols = ['date'] + isin_list
ers = ers[common_cols]
closeprices = closeprices[common_cols]
benchmark = benchmark[common_cols]
caps = caps[common_cols]

In [7]:
def transpose(data_file, index_col, new_index_col):
    data_file = data_file.set_index(index_col).T.reset_index().rename(columns={"index": new_index_col})
    data_file.index.name = None
    data_file.columns.name = None
    return data_file

ers_t = transpose(ers, 'date', 'isin')

In [8]:
def sector_constraints(variable, dataframe):
    constraints = []
    if 'sector_min' in dataframe.columns:
        for sector_name in dataframe['sector_name'].unique():
            mask = dataframe['sector_name'] == sector_name
            if len(dataframe.loc[mask]):
                sector_min = dataframe.loc[mask, 'sector_min'].iloc[0]
                sector_max = dataframe.loc[mask, 'sector_max'].iloc[0]
                sector_w = variable[mask.values]
                constraints.append(cp.sum(sector_w) >= sector_min)
                constraints.append(cp.sum(sector_w) <= sector_max)
            else:
                sector_min = 0
                sector_max = 0
    return constraints

def region_constraints(variable, dataframe):
    constraints = []
    if 'region_max' in dataframe.columns:
        for region_name in dataframe['region_name'].unique():
            mask = dataframe['region_name'] == region_name
            if len(dataframe.loc[mask]):
                region_min = dataframe.loc[mask, 'region_min'].iloc[0]
                region_max = dataframe.loc[mask, 'region_max'].iloc[0]
                region_w = variable[mask.values]
                constraints.append(cp.sum(region_w) >= region_min)
                constraints.append(cp.sum(region_w) <= region_max)
            else:
                region_min = 0
                region_max = 0
    return constraints

In [9]:
daily_returns = closeprices.set_index('date').ffill().bfill().fillna(1).pct_change().dropna()
monthly_returns = closeprices.set_index('date').ffill().bfill().fillna(1).pct_change(periods=22).dropna()

In [10]:
window = 512
mult_values = 10**(np.linspace(-4,4,10))

In [11]:
def nonlinear_shrink_cov(data):
    
    EPS = 1e-8
    n_obs, p_assets = data.shape
    assert n_obs >= 12, "sample size must be >= 12"
    data = data - data.mean(axis=0)
    n = n_obs - 1
    sample_cov = (data.T @ data) / n
    lam, u = np.linalg.eigh(sample_cov)
    if p_assets > n:
        lam = lam[p_assets - n:]
        p_eff = p_assets
    else:
        tol = 1e-12 * lam.max()
        keep = lam > tol
        lam = lam[keep]
        u = u[:, keep]
        p_eff = lam.size
    h = n ** (-1 / 3)
    L = ml.repmat(lam.T, min(p_eff, n), 1).T

    H = h * L.T
    x = (L - L.T) / H

    ftilde = (3.0 / (4.0 * np.sqrt(5.0))) * np.mean(
        np.maximum(1.0 - x**2 / 5.0, 0.0) / H,
        axis=1,
    )

    Hftemp = (
        (-3.0 / (10.0 * np.pi)) * x
        + (3.0 / (4.0 * np.sqrt(5.0) * np.pi))
        * (1.0 - x**2 / 5.0)
        * np.log(np.abs((np.sqrt(5.0) - x) / (np.sqrt(5.0) + x)))
    )

    mask = np.abs(x) == np.sqrt(5.0)
    Hftemp[mask] = (-3.0 / (10.0 * np.pi)) * x[mask]

    Hftilde = np.mean(Hftemp / H, axis=1)
    if p_assets <= n:
        dtilde = lam / (
            (np.pi * (p_eff / n) * lam * ftilde) ** 2
            + (1.0 - (p_eff / n) - np.pi * (p_eff / n) * lam * Hftilde) ** 2
        )
    else:
        Hftilde0 = (
            (1.0 / np.pi)
            * (
                3.0 / (10.0 * h**2)
                + 3.0 / (4.0 * np.sqrt(5.0) * h)
                * (1.0 - 1.0 / (5.0 * h**2))
                * np.log((1.0 + np.sqrt(5.0) * h) / (1.0 - np.sqrt(5.0) * h))
            ) 
            * np.mean(1.0 / lam)
        )

        dtilde0 = 1.0 / (np.pi * (p_eff - n) / n * Hftilde0)
        dtilde1 = lam / (np.pi**2 * lam**2 * (ftilde**2 + Hftilde**2))
        dtilde = np.concatenate([dtilde0 * np.ones(p_eff - n), dtilde1])
    sigmatilde = u @ np.diag(dtilde) @ u.T
    return sigmatilde

In [12]:
import numpy as np

def get_risk(w, df, cov):

    selected = df['selected'].astype(bool).values
    non_selected = ~selected

    b = df['benchmark'].values
    b_p = b[selected]
    b_n = b[non_selected]

    # ---- NumPy slicing FIRST ----
    Σ_pp = cov[np.ix_(selected, selected)]
    Σ_pn = cov[np.ix_(selected, non_selected)]
    Σ_nn = cov[np.ix_(non_selected, non_selected)]

    # ---- Symmetrize square blocks ----
    Σ_pp = 0.5 * (Σ_pp + Σ_pp.T)
    Σ_nn = 0.5 * (Σ_nn + Σ_nn.T)

    # ---- Wrap PSD matrices ----
    Σ_pp = cp.psd_wrap(Σ_pp)
    Σ_nn = cp.psd_wrap(Σ_nn)

    w_p = w[selected]
    diff_p = w_p - b_p

    return (
        cp.quad_form(diff_p, Σ_pp)
        + 2 * cp.sum(cp.multiply(diff_p, Σ_pn @ (-b_n)))
        + b_n.T @ Σ_nn @ b_n
    )

In [41]:
def max_er(df, cov, cov_m, sector_w, region_w, verbose):

    er = df['er'].values
    caps = df['caps'].values
    b = df['benchmark'].values
    min_ = df['min'].values

    caps = np.maximum(caps, min_)
    
    n = len(er)
    w = cp.Variable(n, nonneg=True)
    
    objective_returns = w.T @ er
    risk = get_risk(w, df, cov)
    constraints = [
        w <= caps,
        w >= min_,
        cp.sum(w) == 1,
        risk <= risk_limit
    ]
    constraints += sector_constraints(w, sector_w)
    constraints += region_constraints(w, region_w)

    objective = cp.Maximize(objective_returns)
    problem = cp.Problem(objective, constraints)
    problem.solve(solver=cp.SCS, verbose=verbose)

    if w.value is not None:
        return w.value
    else:
        return None

In [42]:
te_threshold = 0.03
risk_limit = np.power(te_threshold, 2) / 252

In [43]:
rebalance_dates = ers_t.columns[1:].tolist()

In [35]:
def region_maximum(row, date):
    if row['region_name'] == 'OTHERS':
        return 1
    else:
        return row[date]

In [46]:
import math
def select_isins(df, col, n_isins=500):

    selection = []
    sector_weights = df.groupby('sector_name')['benchmark'].sum().reset_index()
    sector_weights = sector_weights[sector_weights['sector_name'] != 'NA']
    sector_weights['benchmark'] = sector_weights['benchmark']/sector_weights['benchmark'].sum()
    for iteration, sector_info in sector_weights.iterrows():
        sector_name = sector_info['sector_name']
        sector_wts = sector_info['benchmark']

        n_sector_isins = int(math.ceil(n_isins * sector_wts))
        sector_df = df[df['sector_name'] == sector_name].reset_index(drop=True)
        sector_df = sector_df[sector_df['selected'] > 0].sort_values(by=col, ascending=False).reset_index(drop=True).iloc[:n_sector_isins]
        selection.append(sector_df)
    
    return pd.concat(selection).reset_index(drop=True)['isin'].tolist()

In [47]:
verbose = False

def solve_one_date(date):
    try:
        s3_helper = s3_config()
        df = benchmark.set_index('date').loc[date].reset_index().rename(columns={'index': 'isin', date: 'benchmark'})
        df = df[df['benchmark'] > 0].reset_index(drop=True)
        isins_ordered = df['isin'].tolist()
        caps_window = caps.set_index('date').loc[date, isins_ordered].values
        er_window = ers.set_index('date').loc[date, isins_ordered].values
        caps_map = dict(zip(isins_ordered, caps_window))
        er_map = dict(zip(isins_ordered, er_window))
        df['caps'] = df['isin'].map(caps_map).fillna(0.0)
        df['er'] = df['isin'].map(er_map)
        df['selected'] = selection.set_index('date')[isins_ordered].loc[date].values

        sector_window = sector_weights.set_index('isin').loc[isins_ordered][['sector_name', date]].copy()
        sector_window.fillna({"sector_name" : "NA"}, inplace=True)
        region_window = region_weights.set_index('isin').loc[isins_ordered][['region_name', date]].copy()
        region_window['region_min'] = 0.0
        region_window['region_max'] = region_window[['region_name', date]].apply(lambda row: region_maximum(row, date), axis=1)

        sector_window['sector_min'] = (sector_window[date] * 0.5)
        sector_window['sector_max'] = sector_window[date] * 1.5

        df['sector_name'] = sector_window['sector_name'].values
        df['region_name'] = region_window['region_name'].values

        daily_window = daily_returns[isins_ordered].loc[:date].tail(window)
        monthly_window = monthly_returns[isins_ordered].loc[:date].tail(window)

        cov_m = nonlinear_shrink_cov(monthly_window)
        cov_d = nonlinear_shrink_cov(daily_window)

        if df['selected'].sum() > 500:
            df_selection = select_isins(df, 'benchmark')
            df['selected'] = df['isin'].isin(df_selection).astype(int)
            df['min'] = 0
        df['caps'] = df['caps'] * df['selected']

        wts = max_er(df, cov_d, cov_m, sector_window, region_window, verbose)
        if wts is None:
            sector_window['sector_min'] = (sector_window[date] * 0)
            sector_window['sector_max'] = sector_window[date] * 1.5
            wts = max_er(df, cov_d, cov_m, sector_window, region_window, verbose)
        
        df['Wts'] = wts
        if df['selected'].sum() > 250:
            df_selection = select_isins(df, 'Wts', n_isins=250)
            df['selected'] = df['isin'].isin(df_selection).astype(int)
        df['min'] = 0.001
        df['min'] = df['min'] * df['selected']
        df['caps'] = df['caps'] * df['selected']

        wts = max_er(df, cov_d, cov_m, sector_window, region_window, verbose)
        df['Wts-II'] = wts
        path = prefix + f'{date}/Weights.csv'
        s3_helper.write_advanced_as_df(df, bucket, path)
    except KeyboardInterrupt:
        pass
    except Exception as e:
        print(f"date failed because of {traceback.format_exc()}")

In [48]:
isin_list = benchmark.columns.tolist()[1:]
rebalance_dates = ers['date'].tolist()

In [49]:
prefix = 'test/portfolio-rebalance/hsbc_te300/weights/max_er_3/'

In [ ]:
from joblib import Parallel, delayed
from tqdm import tqdm

weights_df = pd.DataFrame(
    0.0,
    index=rebalance_dates,
    columns=isin_list
)

results = Parallel(
    n_jobs=-1,         
    backend="loky",     
    verbose=0
)(
    delayed(solve_one_date)(date)
    for date in tqdm(rebalance_dates)
)

/tmp
/tmp
/tmp
/tmp
/tmp
/tmp
/tmp
/tmp
/tmp
/tmp
/tmp
/tmp
/tmp
/tmp
/tmp
/tmp
######################## S3Connection ######################
######################## S3Connection ######################
######################## S3Connection ######################
######################## S3Connection ############################################## S3Connection ######################

######################## S3Connection ######################
######################## S3Connection ######################
######################## S3Connection ######################
######################## S3Connection ######################
######################## S3Connection ######################
######################## S3Connection ######################
######################## S3Connection ######################
######################## S3Connection ######################
######################## S3Connection ######################
######################## S3Connection ######################
######################## S3Connection ######################

isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000652011
3       AT0000720008
4       AT0000741053
            ...
1640    US98421M1062
1641    US9884981013
1642    US98956P1021
1643    US9897011071
1644    ZAE000255360
Name: isin, Length: 1645, dtype: object
columns ->  benchmark
0       0.003054
1       0.000129
2       0.000452
3       0.000319
4       0.000033
          ...
1640    0.000519
1641    0.000563
1642    0.000611
1643    0.000338
1644    0.000591
Name: benchmark, Length: 1645, dtype: float64
columns ->  caps
0       0.031151
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1640    0.008069
1641    0.001336
1642    0.005099
1643    0.000000
1644    0.000245
Name: caps, Length: 1645, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2       0.079040
3      -1.000000
4      -1.000000
          ...
1640    0.028143
1641   -0.026140
1642    0.029162
1643   -0.204806
1644    0.112866
Name: er, Length: 1645, dtype: float64
columns ->  selected
0       1
1       0
2       0
3       0
4       0
       ..
1640    1
1641    1
1642    1
1643    0
1644    1
Name: selected, Length: 1645, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                   Financials
3       Communication Services
4                    Utilities
                 ...
1640    Information Technology
1641    Consumer Discretionary
1642               Health Care
1643                Financials
1644                Financials
Name: sector_name, Length: 1645, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1640    OTHERS
1641    OTHERS
1642    OTHERS
1643    OTHERS
1644    OTHERS
Name: region_name, Length: 1645, dtype: object
columns ->  min
0       0.001
1       0.000
2       0.000
3       0.000
4       0.000
        ...
1640    0.001
1641    0.001
1642    0.001
1643    0.000
1644    0.001
Name: min, Length: 1645, dtype: float64
columns ->  Wts
0       0.000000e+00
1       0.000000e+00
2       0.000000e+00
3       0.000000e+00
4       0.000000e+00
            ...
1640    4.833740e-03
1641    1.084756e-08
1642    1.628606e-03
1643    3.658475e-10
1644    2.447719e-04
Name: Wts, Length: 1645, dtype: float64
columns ->  Wts-II
0       1.000002e-03
1       4.349956e-10
2       5.082886e-10
3       0.000000e+00
4       0.000000e+00
            ...
1640    9.999977e-04
1641    9.999788e-04
1642    9.999960e-04
1643    9.496483e-11
1644    9.999997e-04
Name: Wts-II, Length: 1645, dtype: float64
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000652011
3       AT0000720008
4       AT0000741053
            ...
1636    US98421M1062
1637    US9884981013
1638    US98956P1021
1639    US9897011071
1640    ZAE000255360
Name: isin, Length: 1641, dtype: object
columns ->  benchmark
0       0.002839
1       0.000182
2       0.000483
3       0.000376
4       0.000033
          ...
1636    0.000575
1637    0.000563
1638    0.000669
1639    0.000327
1640    0.000577
Name: benchmark, Length: 1641, dtype: float64
columns ->  caps
0       0.034547
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1636    0.006853
1637    0.000000
1638    0.004104
1639    0.000000
1640    0.000277
Name: caps, Length: 1641, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2       0.079040
3      -1.000000
4      -1.000000
          ...
1636    0.028143
1637   -0.026140
1638    0.029162
1639   -0.204806
1640    0.112866
Name: er, Length: 1641, dtype: float64
columns ->  selected
0       1
1       0
2       0
3       0
4       0
       ..
1636    1
1637    0
1638    1
1639    0
1640    1
Name: selected, Length: 1641, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                   Financials
3       Communication Services
4                    Utilities
                 ...
1636    Information Technology
1637    Consumer Discretionary
1638               Health Care
1639                Financials
1640                Financials
Name: sector_name, Length: 1641, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1636    OTHERS
1637    OTHERS
1638    OTHERS
1639    OTHERS
1640    OTHERS
Name: region_name, Length: 1641, dtype: object
columns ->  min
0       0.001
1       0.000
2       0.000
3       0.000
4       0.000
        ...
1636    0.001
1637    0.000
1638    0.001
1639    0.000
1640    0.001
Name: min, Length: 1641, dtype: float64
columns ->  Wts
0       0.000000e+00
1       0.000000e+00
2       0.000000e+00
3       1.459784e-10
4       0.000000e+00
            ...
1636    6.853142e-03
1637    0.000000e+00
1638    4.104199e-03
1639    4.815114e-11
1640    2.771228e-04
Name: Wts, Length: 1641, dtype: float64
columns ->  Wts-II
0       1.000006e-03
1       3.434508e-08
2       2.172430e-09
3       3.434508e-08
4       3.314667e-08
            ...
1636    3.619246e-03
1637    1.659687e-09
1638    4.104199e-03
1639    6.986806e-09
1640    9.999965e-04
Name: Wts-II, Length: 1641, dtype: float64
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000652011
3       AT0000720008
4       AT0000741053
            ...
1637    US98421M1062
1638    US9884981013
1639    US98956P1021
1640    US9897011071
1641    ZAE000255360
Name: isin, Length: 1642, dtype: object
columns ->  benchmark
0       0.003045
1       0.000136
2       0.000447
3       0.000319
4       0.000033
          ...
1637    0.000528
1638    0.000564
1639    0.000575
1640    0.000326
1641    0.000592
Name: benchmark, Length: 1642, dtype: float64
columns ->  caps
0       0.033380
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1637    0.006238
1638    0.001307
1639    0.008410
1640    0.000000
1641    0.000213
Name: caps, Length: 1642, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2       0.079040
3      -1.000000
4      -1.000000
          ...
1637    0.028143
1638   -0.026140
1639    0.029162
1640   -0.204806
1641    0.112866
Name: er, Length: 1642, dtype: float64
columns ->  selected
0       1
1       0
2       0
3       0
4       0
       ..
1637    1
1638    1
1639    1
1640    0
1641    1
Name: selected, Length: 1642, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                   Financials
3       Communication Services
4                    Utilities
                 ...
1637    Information Technology
1638    Consumer Discretionary
1639               Health Care
1640                Financials
1641                Financials
Name: sector_name, Length: 1642, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1637    OTHERS
1638    OTHERS
1639    OTHERS
1640    OTHERS
1641    OTHERS
Name: region_name, Length: 1642, dtype: object
columns ->  min
0       0.001
1       0.000
2       0.000
3       0.000
4       0.000
        ...
1637    0.001
1638    0.001
1639    0.001
1640    0.000
1641    0.001
Name: min, Length: 1642, dtype: float64
columns ->  Wts
0       0.000000e+00
1       2.898147e-10
2       1.874039e-11
3       0.000000e+00
4       0.000000e+00
            ...
1637    6.238027e-03
1638    7.677545e-10
1639    4.775994e-03
1640    5.980855e-10
1641    2.126190e-04
Name: Wts, Length: 1642, dtype: float64
columns ->  Wts-II
0       9.999827e-04
1       3.502709e-09
2       3.413689e-09
3       5.785518e-10
4       1.039849e-09
            ...
1637    1.230403e-03
1638    1.000001e-03
1639    2.799052e-03
1640    3.245790e-09
1641    1.000005e-03
Name: Wts-II, Length: 1642, dtype: float64
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000642806
3       AT0000652011
4       AT0000720008
            ...
1615    US98421M1062
1616    US9884981013
1617    US98956P1021
1618    US9897011071
1619    ZAE000255360
Name: isin, Length: 1620, dtype: object
columns ->  benchmark
0       0.002704
1       0.000243
2       0.000144
3       0.000546
4       0.000373
          ...
1615    0.000584
1616    0.000590
1617    0.000709
1618    0.000317
1619    0.000587
Name: benchmark, Length: 1620, dtype: float64
columns ->  caps
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1615    0.006794
1616    0.000000
1617    0.004791
1618    0.000000
1619    0.000153
Name: caps, Length: 1620, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3       0.079040
4      -1.000000
          ...
1615    0.028143
1616   -0.026140
1617    0.029162
1618   -0.204806
1619    0.112866
Name: er, Length: 1620, dtype: float64
columns ->  selected
0       0
1       0
2       0
3       0
4       0
       ..
1615    1
1616    0
1617    1
1618    0
1619    1
Name: selected, Length: 1620, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                           NA
3                   Financials
4       Communication Services
                 ...
1615    Information Technology
1616    Consumer Discretionary
1617               Health Care
1618                Financials
1619                Financials
Name: sector_name, Length: 1620, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1615    OTHERS
1616    OTHERS
1617    OTHERS
1618    OTHERS
1619    OTHERS
Name: region_name, Length: 1620, dtype: object
columns ->  min
0       0.000
1       0.000
2       0.000
3       0.000
4       0.000
        ...
1615    0.001
1616    0.000
1617    0.001
1618    0.000
1619    0.001
Name: min, Length: 1620, dtype: float64
columns ->  Wts
0       1.347339e-11
1       2.108597e-10
2       3.850102e-11
3       2.253607e-12
4       2.099556e-10
            ...
1615    6.793998e-03
1616    1.598492e-11
1617    4.790582e-03
1618    3.772202e-11
1619    1.525082e-04
Name: Wts, Length: 1620, dtype: float64
columns ->  Wts-II
0       1.210477e-08
1       0.000000e+00
2       2.113307e-09
3       0.000000e+00
4       1.745682e-09
            ...
1615    4.412105e-03
1616    0.000000e+00
1617    4.790624e-03
1618    0.000000e+00
1619    9.999852e-04
Name: Wts-II, Length: 1620, dtype: float64
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000652011
3       AT0000720008
4       AT0000741053
            ...
1634    US98421M1062
1635    US9884981013
1636    US98956P1021
1637    US9897011071
1638    ZAE000255360
Name: isin, Length: 1639, dtype: object
columns ->  benchmark
0       0.003112
1       0.000133
2       0.000455
3       0.000322
4       0.000033
          ...
1634    0.000533
1635    0.000502
1636    0.000638
1637    0.000342
1638    0.000590
Name: benchmark, Length: 1639, dtype: float64
columns ->  caps
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1634    0.008075
1635    0.000000
1636    0.006921
1637    0.000000
1638    0.000138
Name: caps, Length: 1639, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2       0.079040
3      -1.000000
4      -1.000000
          ...
1634    0.028143
1635   -0.026140
1636    0.029162
1637   -0.204806
1638    0.112866
Name: er, Length: 1639, dtype: float64
columns ->  selected
0       0
1       0
2       0
3       0
4       0
       ..
1634    1
1635    0
1636    1
1637    0
1638    1
Name: selected, Length: 1639, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                   Financials
3       Communication Services
4                    Utilities
                 ...
1634    Information Technology
1635    Consumer Discretionary
1636               Health Care
1637                Financials
1638                Financials
Name: sector_name, Length: 1639, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1634    OTHERS
1635    OTHERS
1636    OTHERS
1637    OTHERS
1638    OTHERS
Name: region_name, Length: 1639, dtype: object
columns ->  min
0       0.000
1       0.000
2       0.000
3       0.000
4       0.000
        ...
1634    0.001
1635    0.000
1636    0.001
1637    0.000
1638    0.001
Name: min, Length: 1639, dtype: float64
columns ->  Wts
0       2.057261e-10
1       0.000000e+00
2       0.000000e+00
3       0.000000e+00
4       0.000000e+00
            ...
1634    7.518988e-03
1635    5.367470e-10
1636    6.920615e-03
1637    0.000000e+00
1638    1.381128e-04
Name: Wts, Length: 1639, dtype: float64
columns ->  Wts-II
0       0.000000e+00
1       5.991228e-10
2       2.313711e-10
3       5.040868e-10
4       6.047623e-10
            ...
1634    1.133335e-03
1635    0.000000e+00
1636    6.920614e-03
1637    0.000000e+00
1638    9.999996e-04
Name: Wts-II, Length: 1639, dtype: float64
######################## S3Connection ######################

/home/ubuntu/miniconda3/envs/TTM-EXPECTED-VALUES/lib/python3.11/site-packages/cvxpy/problems/problem.py:1510: UserWarning: Solution may be inaccurate. Try another solver, adjusting the solver settings, or solve with verbose=True for more information.
  warnings.warn(

isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000642806
3       AT0000652011
4       AT0000720008
            ...
1609    US98421M1062
1610    US9884981013
1611    US98956P1021
1612    US9897011071
1613    ZAE000255360
Name: isin, Length: 1614, dtype: object
columns ->  benchmark
0       0.002915
1       0.000221
2       0.000151
3       0.000541
4       0.000343
          ...
1609    0.000598
1610    0.000560
1611    0.000749
1612    0.000321
1613    0.000547
Name: benchmark, Length: 1614, dtype: float64
columns ->  caps
0       0.031025
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1609    0.008603
1610    0.000000
1611    0.005072
1612    0.000000
1613    0.000253
Name: caps, Length: 1614, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3       0.079040
4      -1.000000
          ...
1609    0.028143
1610   -0.026140
1611    0.029162
1612   -0.204806
1613    0.112866
Name: er, Length: 1614, dtype: float64
columns ->  selected
0       1
1       0
2       0
3       0
4       0
       ..
1609    1
1610    0
1611    1
1612    0
1613    1
Name: selected, Length: 1614, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                           NA
3                   Financials
4       Communication Services
                 ...
1609    Information Technology
1610    Consumer Discretionary
1611               Health Care
1612                Financials
1613                Financials
Name: sector_name, Length: 1614, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1609    OTHERS
1610    OTHERS
1611    OTHERS
1612    OTHERS
1613    OTHERS
Name: region_name, Length: 1614, dtype: object
columns ->  min
0       0.001
1       0.000
2       0.000
3       0.000
4       0.000
        ...
1609    0.001
1610    0.000
1611    0.001
1612    0.000
1613    0.001
Name: min, Length: 1614, dtype: float64
columns ->  Wts
0       7.302503e-11
1       0.000000e+00
2       0.000000e+00
3       0.000000e+00
4       9.113481e-12
            ...
1609    2.978644e-03
1610    2.783175e-11
1611    5.071943e-03
1612    0.000000e+00
1613    2.530784e-04
Name: Wts, Length: 1614, dtype: float64
columns ->  Wts-II
0       1.000000e-03
1       1.029469e-09
2       1.891079e-10
3       6.107512e-11
4       1.024729e-09
            ...
1609    1.000000e-03
1610    3.897476e-11
1611    5.071943e-03
1612    2.032713e-10
1613    9.999998e-04
Name: Wts-II, Length: 1614, dtype: float64
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000642806
3       AT0000652011
4       AT0000720008
            ...
1627    US98421M1062
1628    US9884981013
1629    US98956P1021
1630    US9897011071
1631    ZAE000255360
Name: isin, Length: 1632, dtype: object
columns ->  benchmark
0       0.003078
1       0.000231
2       0.000215
3       0.000525
4       0.000316
          ...
1627    0.000616
1628    0.000613
1629    0.000720
1630    0.000295
1631    0.000547
Name: benchmark, Length: 1632, dtype: float64
columns ->  caps
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1627    0.011527
1628    0.001374
1629    0.004984
1630    0.000000
1631    0.000361
Name: caps, Length: 1632, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3       0.079040
4      -1.000000
          ...
1627    0.028143
1628   -0.026140
1629    0.029162
1630   -0.204806
1631    0.112866
Name: er, Length: 1632, dtype: float64
columns ->  selected
0       0
1       0
2       0
3       0
4       0
       ..
1627    1
1628    1
1629    1
1630    0
1631    1
Name: selected, Length: 1632, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                           NA
3                   Financials
4       Communication Services
                 ...
1627    Information Technology
1628    Consumer Discretionary
1629               Health Care
1630                Financials
1631                Financials
Name: sector_name, Length: 1632, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1627    OTHERS
1628    OTHERS
1629    OTHERS
1630    OTHERS
1631    OTHERS
Name: region_name, Length: 1632, dtype: object
columns ->  min
0       0.000
1       0.000
2       0.000
3       0.000
4       0.000
        ...
1627    0.001
1628    0.001
1629    0.001
1630    0.000
1631    0.001
Name: min, Length: 1632, dtype: float64
columns ->  Wts
0       1.382314e-11
1       2.039995e-10
2       3.742116e-11
3       7.036061e-13
4       2.010750e-10
            ...
1627    1.403492e-03
1628    2.279822e-11
1629    4.984339e-03
1630    3.542774e-11
1631    3.607919e-04
Name: Wts, Length: 1632, dtype: float64
columns ->  Wts-II
0       3.565765e-12
1       1.853005e-11
2       3.217611e-12
3       4.059816e-12
4       1.818824e-11
            ...
1627    1.000000e-03
1628    1.000000e-03
1629    4.984339e-03
1630    5.716121e-12
1631    1.000000e-03
Name: Wts-II, Length: 1632, dtype: float64
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000642806
3       AT0000652011
4       AT0000720008
            ...
1619    US98421M1062
1620    US9884981013
1621    US98956P1021
1622    US9897011071
1623    ZAE000255360
Name: isin, Length: 1624, dtype: object
columns ->  benchmark
0       0.002983
1       0.000191
2       0.000141
3       0.000529
4       0.000376
          ...
1619    0.000578
1620    0.000625
1621    0.000671
1622    0.000306
1623    0.000572
Name: benchmark, Length: 1624, dtype: float64
columns ->  caps
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1619    0.008495
1620    0.000000
1621    0.004604
1622    0.000000
1623    0.000152
Name: caps, Length: 1624, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3       0.079040
4      -1.000000
          ...
1619    0.028143
1620   -0.026140
1621    0.029162
1622   -0.204806
1623    0.112866
Name: er, Length: 1624, dtype: float64
columns ->  selected
0       0
1       0
2       0
3       0
4       0
       ..
1619    1
1620    0
1621    1
1622    0
1623    1
Name: selected, Length: 1624, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                           NA
3                   Financials
4       Communication Services
                 ...
1619    Information Technology
1620    Consumer Discretionary
1621               Health Care
1622                Financials
1623                Financials
Name: sector_name, Length: 1624, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1619    OTHERS
1620    OTHERS
1621    OTHERS
1622    OTHERS
1623    OTHERS
Name: region_name, Length: 1624, dtype: object
columns ->  min
0       0.000
1       0.000
2       0.000
3       0.000
4       0.000
        ...
1619    0.001
1620    0.000
1621    0.001
1622    0.000
1623    0.001
Name: min, Length: 1624, dtype: float64
columns ->  Wts
0       4.613639e-11
1       0.000000e+00
2       0.000000e+00
3       0.000000e+00
4       0.000000e+00
            ...
1619    6.836457e-03
1620    2.132479e-10
1621    4.604436e-03
1622    0.000000e+00
1623    1.517610e-04
Name: Wts, Length: 1624, dtype: float64
columns ->  Wts-II
0       2.089420e-11
1       9.386456e-10
2       1.719850e-10
3       5.098651e-11
4       9.435434e-10
            ...
1619    3.970613e-03
1620    3.137114e-11
1621    4.604436e-03
1622    1.815239e-10
1623    9.999998e-04
Name: Wts-II, Length: 1624, dtype: float64
######################## S3Connection ######################
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000652011
3       AT0000720008
4       AT0000741053
            ...
1636    US98421M1062
1637    US9884981013
1638    US98956P1021
1639    US9897011071
1640    ZAE000255360
Name: isin, Length: 1641, dtype: object
columns ->  benchmark
0       0.002792
1       0.000189
2       0.000511
3       0.000359
4       0.000033
          ...
1636    0.000608
1637    0.000622
1638    0.000691
1639    0.000319
1640    0.000577
Name: benchmark, Length: 1641, dtype: float64
columns ->  caps
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1636    0.009483
1637    0.000000
1638    0.005411
1639    0.000000
1640    0.000143
Name: caps, Length: 1641, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2       0.079040
3      -1.000000
4      -1.000000
          ...
1636    0.028143
1637   -0.026140
1638    0.029162
1639   -0.204806
1640    0.112866
Name: er, Length: 1641, dtype: float64
columns ->  selected
0       0
1       0
2       0
3       0
4       0
       ..
1636    1
1637    0
1638    1
1639    0
1640    1
Name: selected, Length: 1641, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                   Financials
3       Communication Services
4                    Utilities
                 ...
1636    Information Technology
1637    Consumer Discretionary
1638               Health Care
1639                Financials
1640                Financials
Name: sector_name, Length: 1641, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1636    OTHERS
1637    OTHERS
1638    OTHERS
1639    OTHERS
1640    OTHERS
Name: region_name, Length: 1641, dtype: object
columns ->  min
0       0.000
1       0.000
2       0.000
3       0.000
4       0.000
        ...
1636    0.001
1637    0.000
1638    0.001
1639    0.000
1640    0.001
Name: min, Length: 1641, dtype: float64
columns ->  Wts
0       2.173528e-11
1       2.223624e-10
2       4.076368e-12
3       2.236612e-10
4       2.176384e-10
            ...
1636    5.602323e-03
1637    1.615524e-11
1638    5.410531e-03
1639    4.099141e-11
1640    1.432609e-04
Name: Wts, Length: 1641, dtype: float64
columns ->  Wts-II
0       0.000000e+00
1       7.554531e-10
2       3.133502e-10
3       7.828911e-10
4       4.856693e-10
            ...
1636    3.338268e-03
1637    0.000000e+00
1638    5.410530e-03
1639    0.000000e+00
1640    9.999985e-04
Name: Wts-II, Length: 1641, dtype: float64
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000642806
3       AT0000652011
4       AT0000720008
            ...
1611    US98421M1062
1612    US9884981013
1613    US98956P1021
1614    US9897011071
1615    ZAE000255360
Name: isin, Length: 1616, dtype: object
columns ->  benchmark
0       0.002683
1       0.000214
2       0.000152
3       0.000524
4       0.000348
          ...
1611    0.000619
1612    0.000569
1613    0.000749
1614    0.000329
1615    0.000594
Name: benchmark, Length: 1616, dtype: float64
columns ->  caps
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1611    0.010361
1612    0.001643
1613    0.006766
1614    0.000000
1615    0.000221
Name: caps, Length: 1616, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3       0.079040
4      -1.000000
          ...
1611    0.028143
1612   -0.026140
1613    0.029162
1614   -0.204806
1615    0.112866
Name: er, Length: 1616, dtype: float64
columns ->  selected
0       0
1       0
2       0
3       0
4       0
       ..
1611    1
1612    1
1613    1
1614    0
1615    1
Name: selected, Length: 1616, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                           NA
3                   Financials
4       Communication Services
                 ...
1611    Information Technology
1612    Consumer Discretionary
1613               Health Care
1614                Financials
1615                Financials
Name: sector_name, Length: 1616, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1611    OTHERS
1612    OTHERS
1613    OTHERS
1614    OTHERS
1615    OTHERS
Name: region_name, Length: 1616, dtype: object
columns ->  min
0       0.000
1       0.000
2       0.000
3       0.000
4       0.000
        ...
1611    0.001
1612    0.001
1613    0.001
1614    0.000
1615    0.001
Name: min, Length: 1616, dtype: float64
columns ->  Wts
0       2.662609e-14
1       1.677689e-10
2       3.407386e-11
3       0.000000e+00
4       1.672396e-10
            ...
1611    4.362997e-03
1612    2.597558e-11
1613    6.765573e-03
1614    5.479370e-11
1615    2.212353e-04
Name: Wts, Length: 1616, dtype: float64
columns ->  Wts-II
0       0.000000e+00
1       1.341129e-11
2       1.195844e-11
3       0.000000e+00
4       3.367346e-11
            ...
1611    1.000000e-03
1612    9.999999e-04
1613    6.765573e-03
1614    0.000000e+00
1615    9.999999e-04
Name: Wts-II, Length: 1616, dtype: float64
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000642806
3       AT0000652011
4       AT0000720008
            ...
1624    US98421M1062
1625    US9884981013
1626    US98956P1021
1627    US9897011071
1628    ZAE000255360
Name: isin, Length: 1629, dtype: object
columns ->  benchmark
0       0.003393
1       0.000237
2       0.000204
3       0.000528
4       0.000291
          ...
1624    0.000610
1625    0.000598
1626    0.000702
1627    0.000285
1628    0.000547
Name: benchmark, Length: 1629, dtype: float64
columns ->  caps
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1624    0.000000
1625    0.000000
1626    0.007309
1627    0.000000
1628    0.000312
Name: caps, Length: 1629, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3       0.079040
4      -1.000000
          ...
1624    0.028143
1625   -0.026140
1626    0.029162
1627   -0.204806
1628    0.112866
Name: er, Length: 1629, dtype: float64
columns ->  selected
0       0
1       0
2       0
3       1
4       0
       ..
1624    0
1625    0
1626    1
1627    0
1628    1
Name: selected, Length: 1629, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                           NA
3                   Financials
4       Communication Services
                 ...
1624    Information Technology
1625    Consumer Discretionary
1626               Health Care
1627                Financials
1628                Financials
Name: sector_name, Length: 1629, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1624    OTHERS
1625    OTHERS
1626    OTHERS
1627    OTHERS
1628    OTHERS
Name: region_name, Length: 1629, dtype: object
columns ->  min
0       0.000
1       0.000
2       0.000
3       0.001
4       0.000
        ...
1624    0.000
1625    0.000
1626    0.001
1627    0.000
1628    0.001
Name: min, Length: 1629, dtype: float64
columns ->  Wts
0       0.000000e+00
1       0.000000e+00
2       9.145633e-10
3       3.449595e-09
4       0.000000e+00
            ...
1624    0.000000e+00
1625    0.000000e+00
1626    7.308757e-03
1627    0.000000e+00
1628    3.115475e-04
Name: Wts, Length: 1629, dtype: float64
columns ->  Wts-II
0       1.131410e-09
1       3.747819e-08
2       6.705813e-09
3       1.000004e-03
4       3.747818e-08
            ...
1624    6.988766e-10
1625    1.760794e-09
1626    6.311302e-03
1627    7.587403e-09
1628    9.999962e-04
Name: Wts-II, Length: 1629, dtype: float64

/home/ubuntu/miniconda3/envs/TTM-EXPECTED-VALUES/lib/python3.11/site-packages/cvxpy/problems/problem.py:1510: UserWarning: Solution may be inaccurate. Try another solver, adjusting the solver settings, or solve with verbose=True for more information.
  warnings.warn(

######################## S3Connection ######################
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000642806
3       AT0000652011
4       AT0000720008
            ...
1613    US98421M1062
1614    US9884981013
1615    US98956P1021
1616    US9897011071
1617    ZAE000255360
Name: isin, Length: 1618, dtype: object
columns ->  benchmark
0       0.002689
1       0.000240
2       0.000152
3       0.000547
4       0.000375
          ...
1613    0.000586
1614    0.000596
1615    0.000753
1616    0.000323
1617    0.000573
Name: benchmark, Length: 1618, dtype: float64
columns ->  caps
0       0.038259
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1613    0.009288
1614    0.001374
1615    0.006551
1616    0.000000
1617    0.000151
Name: caps, Length: 1618, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3       0.079040
4      -1.000000
          ...
1613    0.028143
1614   -0.026140
1615    0.029162
1616   -0.204806
1617    0.112866
Name: er, Length: 1618, dtype: float64
columns ->  selected
0       1
1       0
2       0
3       0
4       1
       ..
1613    1
1614    1
1615    1
1616    0
1617    1
Name: selected, Length: 1618, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                           NA
3                   Financials
4       Communication Services
                 ...
1613    Information Technology
1614    Consumer Discretionary
1615               Health Care
1616                Financials
1617                Financials
Name: sector_name, Length: 1618, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1613    OTHERS
1614    OTHERS
1615    OTHERS
1616    OTHERS
1617    OTHERS
Name: region_name, Length: 1618, dtype: object
columns ->  min
0       0.001
1       0.000
2       0.000
3       0.000
4       0.001
        ...
1613    0.001
1614    0.001
1615    0.001
1616    0.000
1617    0.001
Name: min, Length: 1618, dtype: float64
columns ->  Wts
0       2.029568e-09
1       4.523601e-10
2       0.000000e+00
3       0.000000e+00
4       0.000000e+00
            ...
1613    2.740533e-03
1614    1.816743e-10
1615    6.550791e-03
1616    5.764872e-10
1617    1.513003e-04
Name: Wts, Length: 1618, dtype: float64
columns ->  Wts-II
0       9.999851e-04
1       0.000000e+00
2       3.235520e-10
3       5.841247e-10
4       9.999945e-04
            ...
1613    1.000003e-03
1614    9.999881e-04
1615    6.550795e-03
1616    0.000000e+00
1617    9.999965e-04
Name: Wts-II, Length: 1618, dtype: float64
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000642806
3       AT0000652011
4       AT0000720008
            ...
1604    US98421M1062
1605    US9884981013
1606    US98956P1021
1607    US9897011071
1608    ZAE000255360
Name: isin, Length: 1609, dtype: object
columns ->  benchmark
0       0.002995
1       0.000212
2       0.000138
3       0.000540
4       0.000376
          ...
1604    0.000630
1605    0.000577
1606    0.000763
1607    0.000299
1608    0.000585
Name: benchmark, Length: 1609, dtype: float64
columns ->  caps
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1604    0.011110
1605    0.000000
1606    0.005645
1607    0.000000
1608    0.000218
Name: caps, Length: 1609, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3       0.079040
4      -1.000000
          ...
1604    0.028143
1605   -0.026140
1606    0.029162
1607   -0.204806
1608    0.112866
Name: er, Length: 1609, dtype: float64
columns ->  selected
0       0
1       0
2       0
3       1
4       1
       ..
1604    1
1605    0
1606    1
1607    0
1608    1
Name: selected, Length: 1609, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                           NA
3                   Financials
4       Communication Services
                 ...
1604    Information Technology
1605    Consumer Discretionary
1606               Health Care
1607                Financials
1608                Financials
Name: sector_name, Length: 1609, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1604    OTHERS
1605    OTHERS
1606    OTHERS
1607    OTHERS
1608    OTHERS
Name: region_name, Length: 1609, dtype: object
columns ->  min
0       0.000
1       0.000
2       0.000
3       0.001
4       0.001
        ...
1604    0.001
1605    0.000
1606    0.001
1607    0.000
1608    0.001
Name: min, Length: 1609, dtype: float64
columns ->  Wts
0       0.000000e+00
1       0.000000e+00
2       0.000000e+00
3       3.523227e-11
4       6.002138e-11
            ...
1604    2.857857e-03
1605    0.000000e+00
1606    5.645447e-03
1607    2.125645e-12
1608    2.180550e-04
Name: Wts, Length: 1609, dtype: float64
columns ->  Wts-II
0       4.215734e-11
1       1.292109e-09
2       2.454354e-10
3       1.000000e-03
4       1.000002e-03
            ...
1604    1.000000e-03
1605    5.582308e-11
1606    5.645447e-03
1607    2.601855e-10
1608    9.999998e-04
Name: Wts-II, Length: 1609, dtype: float64
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000652011
3       AT0000720008
4       AT0000741053
            ...
1635    US98421M1062
1636    US9884981013
1637    US98956P1021
1638    US9897011071
1639    ZAE000255360
Name: isin, Length: 1640, dtype: object
columns ->  benchmark
0       0.002834
1       0.000156
2       0.000474
3       0.000369
4       0.000034
          ...
1635    0.000553
1636    0.000534
1637    0.000681
1638    0.000327
1639    0.000580
Name: benchmark, Length: 1640, dtype: float64
columns ->  caps
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1635    0.006066
1636    0.000000
1637    0.005814
1638    0.000000
1639    0.000170
Name: caps, Length: 1640, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2       0.079040
3      -1.000000
4      -1.000000
          ...
1635    0.028143
1636   -0.026140
1637    0.029162
1638   -0.204806
1639    0.112866
Name: er, Length: 1640, dtype: float64
columns ->  selected
0       0
1       0
2       0
3       0
4       0
       ..
1635    1
1636    0
1637    1
1638    0
1639    1
Name: selected, Length: 1640, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                   Financials
3       Communication Services
4                    Utilities
                 ...
1635    Information Technology
1636    Consumer Discretionary
1637               Health Care
1638                Financials
1639                Financials
Name: sector_name, Length: 1640, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1635    OTHERS
1636    OTHERS
1637    OTHERS
1638    OTHERS
1639    OTHERS
Name: region_name, Length: 1640, dtype: object
columns ->  min
0       0.000
1       0.000
2       0.000
3       0.000
4       0.000
        ...
1635    0.001
1636    0.000
1637    0.001
1638    0.000
1639    0.001
Name: min, Length: 1640, dtype: float64
columns ->  Wts
0       1.188959e-10
1       4.934134e-10
2       3.039403e-11
3       5.014633e-10
4       4.742005e-10
            ...
1635    6.065606e-03
1636    6.862557e-11
1637    5.813505e-03
1638    1.234603e-10
1639    1.700337e-04
Name: Wts, Length: 1640, dtype: float64
columns ->  Wts-II
0       0.000000e+00
1       1.753598e-09
2       2.539767e-09
3       2.081490e-09
4       0.000000e+00
            ...
1635    6.065605e-03
1636    7.102650e-10
1637    5.813507e-03
1638    2.853410e-09
1639    1.000004e-03
Name: Wts-II, Length: 1640, dtype: float64
######################## S3Connection ######################
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000642806
3       AT0000652011
4       AT0000720008
            ...
1622    US9884981013
1623    US98956P1021
1624    US9897011071
1625    ZAE000156550
1626    ZAE000255360
Name: isin, Length: 1627, dtype: object
columns ->  benchmark
0       0.003960
1       0.000221
2       0.000181
3       0.000503
4       0.000309
          ...
1622    0.000610
1623    0.000664
1624    0.000264
1625    0.000051
1626    0.000508
Name: benchmark, Length: 1627, dtype: float64
columns ->  caps
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1622    0.003044
1623    0.005297
1624    0.000000
1625    0.000000
1626    0.000228
Name: caps, Length: 1627, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3       0.079040
4      -1.000000
          ...
1622   -0.026140
1623    0.029162
1624   -0.204806
1625   -1.000000
1626    0.112866
Name: er, Length: 1627, dtype: float64
columns ->  selected
0       0
1       0
2       0
3       0
4       0
       ..
1622    1
1623    1
1624    0
1625    0
1626    1
Name: selected, Length: 1627, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                           NA
3                   Financials
4       Communication Services
                 ...
1622    Consumer Discretionary
1623               Health Care
1624                Financials
1625                 Materials
1626                Financials
Name: sector_name, Length: 1627, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1622    OTHERS
1623    OTHERS
1624    OTHERS
1625      EMEA
1626    OTHERS
Name: region_name, Length: 1627, dtype: object
columns ->  min
0       0.000
1       0.000
2       0.000
3       0.000
4       0.000
        ...
1622    0.001
1623    0.001
1624    0.000
1625    0.000
1626    0.001
Name: min, Length: 1627, dtype: float64
columns ->  Wts
0       0.000000e+00
1       9.950477e-11
2       5.074321e-11
3       0.000000e+00
4       1.022944e-10
            ...
1622    2.303456e-11
1623    5.297378e-03
1624    6.097373e-11
1625    1.282034e-10
1626    2.275254e-04
Name: Wts, Length: 1627, dtype: float64
columns ->  Wts-II
0       0.000000e+00
1       4.465318e-10
2       4.937894e-10
3       6.616597e-10
4       4.387911e-10
            ...
1622    9.999999e-04
1623    5.297377e-03
1624    0.000000e+00
1625    4.199226e-10
1626    9.999996e-04
Name: Wts-II, Length: 1627, dtype: float64
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000642806
3       AT0000652011
4       AT0000720008
            ...
1622    US9884981013
1623    US98956P1021
1624    US9897011071
1625    ZAE000156550
1626    ZAE000255360
Name: isin, Length: 1627, dtype: object
columns ->  benchmark
0       0.003875
1       0.000235
2       0.000194
3       0.000526
4       0.000294
          ...
1622    0.000600
1623    0.000658
1624    0.000283
1625    0.000045
1626    0.000550
Name: benchmark, Length: 1627, dtype: float64
columns ->  caps
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1622    0.004225
1623    0.009205
1624    0.000000
1625    0.000000
1626    0.000386
Name: caps, Length: 1627, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3       0.079040
4      -1.000000
          ...
1622   -0.026140
1623    0.029162
1624   -0.204806
1625   -1.000000
1626    0.112866
Name: er, Length: 1627, dtype: float64
columns ->  selected
0       0
1       0
2       0
3       0
4       0
       ..
1622    1
1623    1
1624    0
1625    0
1626    1
Name: selected, Length: 1627, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                           NA
3                   Financials
4       Communication Services
                 ...
1622    Consumer Discretionary
1623               Health Care
1624                Financials
1625                 Materials
1626                Financials
Name: sector_name, Length: 1627, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1622    OTHERS
1623    OTHERS
1624    OTHERS
1625      EMEA
1626    OTHERS
Name: region_name, Length: 1627, dtype: object
columns ->  min
0       0.000
1       0.000
2       0.000
3       0.000
4       0.000
        ...
1622    0.001
1623    0.001
1624    0.000
1625    0.000
1626    0.001
Name: min, Length: 1627, dtype: float64
columns ->  Wts
0       1.721392e-09
1       2.083528e-08
2       3.598575e-09
3       6.695862e-10
4       2.083534e-08
            ...
1622    2.260231e-09
1623    6.679680e-03
1624    3.894946e-09
1625    2.053608e-08
1626    3.862927e-04
Name: Wts, Length: 1627, dtype: float64
columns ->  Wts-II
0       2.616795e-09
1       9.007106e-10
2       2.207992e-10
3       1.062832e-09
4       1.855079e-09
            ...
1622    1.000005e-03
1623    5.164570e-03
1624    1.256559e-09
1625    4.302174e-09
1626    1.000001e-03
Name: Wts-II, Length: 1627, dtype: float64
######################## S3Connection ######################

/home/ubuntu/miniconda3/envs/TTM-EXPECTED-VALUES/lib/python3.11/site-packages/cvxpy/problems/problem.py:1510: UserWarning: Solution may be inaccurate. Try another solver, adjusting the solver settings, or solve with verbose=True for more information.
  warnings.warn(

isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000642806
3       AT0000652011
4       AT0000720008
            ...
1618    US9884981013
1619    US98956P1021
1620    US9897011071
1621    ZAE000156550
1622    ZAE000255360
Name: isin, Length: 1623, dtype: object
columns ->  benchmark
0       0.004132
1       0.000214
2       0.000154
3       0.000506
4       0.000300
          ...
1618    0.000605
1619    0.000658
1620    0.000247
1621    0.000050
1622    0.000494
Name: benchmark, Length: 1623, dtype: float64
columns ->  caps
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1618    0.000000
1619    0.005618
1620    0.000000
1621    0.000000
1622    0.000220
Name: caps, Length: 1623, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3       0.079040
4      -1.000000
          ...
1618   -0.026140
1619    0.029162
1620   -0.204806
1621   -1.000000
1622    0.112866
Name: er, Length: 1623, dtype: float64
columns ->  selected
0       0
1       0
2       0
3       1
4       0
       ..
1618    0
1619    1
1620    0
1621    0
1622    1
Name: selected, Length: 1623, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                           NA
3                   Financials
4       Communication Services
                 ...
1618    Consumer Discretionary
1619               Health Care
1620                Financials
1621                 Materials
1622                Financials
Name: sector_name, Length: 1623, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1618    OTHERS
1619    OTHERS
1620    OTHERS
1621      EMEA
1622    OTHERS
Name: region_name, Length: 1623, dtype: object
columns ->  min
0       0.000
1       0.000
2       0.000
3       0.001
4       0.000
        ...
1618    0.000
1619    0.001
1620    0.000
1621    0.000
1622    0.001
Name: min, Length: 1623, dtype: float64
columns ->  Wts
0       0.000000e+00
1       5.722884e-10
2       7.309642e-11
3       7.944128e-10
4       1.826305e-09
            ...
1618    0.000000e+00
1619    5.618051e-03
1620    9.973085e-10
1621    0.000000e+00
1622    2.204962e-04
Name: Wts, Length: 1623, dtype: float64
columns ->  Wts-II
0       3.392709e-08
1       6.751558e-07
2       1.180662e-07
3       1.000074e-03
4       6.751569e-07
            ...
1618    4.511956e-08
1619    4.034477e-03
1620    1.487571e-07
1621    6.514062e-07
1622    9.999464e-04
Name: Wts-II, Length: 1623, dtype: float64
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000642806
3       AT0000652011
4       AT0000720008
            ...
1607    US98421M1062
1608    US9884981013
1609    US98956P1021
1610    US9897011071
1611    ZAE000255360
Name: isin, Length: 1612, dtype: object
columns ->  benchmark
0       0.004078
1       0.000251
2       0.000159
3       0.000495
4       0.000333
          ...
1607    0.000541
1608    0.000697
1609    0.000558
1610    0.000174
1611    0.000555
Name: benchmark, Length: 1612, dtype: float64
columns ->  caps
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1607    0.008945
1608    0.004132
1609    0.005823
1610    0.000000
1611    0.000170
Name: caps, Length: 1612, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3       0.079040
4      -1.000000
          ...
1607    0.028143
1608   -0.026140
1609    0.029162
1610   -0.204806
1611    0.112866
Name: er, Length: 1612, dtype: float64
columns ->  selected
0       0
1       0
2       0
3       0
4       1
       ..
1607    1
1608    1
1609    1
1610    0
1611    1
Name: selected, Length: 1612, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                           NA
3                   Financials
4       Communication Services
                 ...
1607    Information Technology
1608    Consumer Discretionary
1609               Health Care
1610                Financials
1611                Financials
Name: sector_name, Length: 1612, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1607    OTHERS
1608    OTHERS
1609    OTHERS
1610    OTHERS
1611    OTHERS
Name: region_name, Length: 1612, dtype: object
columns ->  min
0       0.000
1       0.000
2       0.000
3       0.000
4       0.001
        ...
1607    0.001
1608    0.001
1609    0.001
1610    0.000
1611    0.001
Name: min, Length: 1612, dtype: float64
columns ->  Wts
0       3.040714e-12
1       7.315518e-11
2       1.281770e-11
3       0.000000e+00
4       6.871248e-11
            ...
1607    3.320112e-03
1608    8.286077e-12
1609    5.822579e-03
1610    1.620533e-11
1611    1.703860e-04
Name: Wts, Length: 1612, dtype: float64
columns ->  Wts-II
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.001000
          ...
1607    0.001000
1608    0.001000
1609    0.005823
1610    0.000000
1611    0.001000
Name: Wts-II, Length: 1612, dtype: float64
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT000000STR1
2       AT0000606306
3       AT0000642806
4       AT0000652011
            ...
1611    US98421M1062
1612    US9884981013
1613    US98956P1021
1614    US9897011071
1615    ZAE000255360
Name: isin, Length: 1616, dtype: object
columns ->  benchmark
0       0.003935
1       0.000068
2       0.000278
3       0.000138
4       0.000446
          ...
1611    0.000531
1612    0.000682
1613    0.000691
1614    0.000194
1615    0.000445
Name: benchmark, Length: 1616, dtype: float64
columns ->  caps
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1611    0.000000
1612    0.000000
1613    0.005823
1614    0.000000
1615    0.000000
Name: caps, Length: 1616, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3      -1.000000
4       0.079040
          ...
1611    0.028143
1612   -0.026140
1613    0.029162
1614   -0.204806
1615    0.112866
Name: er, Length: 1616, dtype: float64
columns ->  selected
0       0
1       0
2       0
3       0
4       1
       ..
1611    0
1612    0
1613    1
1614    0
1615    0
Name: selected, Length: 1616, dtype: int64
columns ->  sector_name
0                       Energy
1                  Industrials
2                   Financials
3                           NA
4                   Financials
                 ...
1611    Information Technology
1612    Consumer Discretionary
1613               Health Care
1614                Financials
1615                Financials
Name: sector_name, Length: 1616, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1611    OTHERS
1612    OTHERS
1613    OTHERS
1614    OTHERS
1615    OTHERS
Name: region_name, Length: 1616, dtype: object
columns ->  min
0       0.000
1       0.000
2       0.000
3       0.000
4       0.001
        ...
1611    0.000
1612    0.000
1613    0.001
1614    0.000
1615    0.000
Name: min, Length: 1616, dtype: float64
columns ->  Wts
0       3.430581e-09
1       0.000000e+00
2       0.000000e+00
3       0.000000e+00
4       0.000000e+00
            ...
1611    2.840720e-10
1612    2.852999e-09
1613    5.823103e-03
1614    1.057221e-09
1615    1.052780e-09
Name: Wts, Length: 1616, dtype: float64
columns ->  Wts-II
0       3.593544e-10
1       4.640441e-10
2       3.883538e-10
3       0.000000e+00
4       1.000000e-03
            ...
1611    1.436786e-09
1612    1.555959e-10
1613    4.393102e-03
1614    8.978849e-10
1615    9.182316e-10
Name: Wts-II, Length: 1616, dtype: float64
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT000000STR1
2       AT0000606306
3       AT0000642806
4       AT0000652011
            ...
1611    US98421M1062
1612    US9884981013
1613    US98956P1021
1614    US9897011071
1615    ZAE000255360
Name: isin, Length: 1616, dtype: object
columns ->  benchmark
0       0.004009
1       0.000072
2       0.000297
3       0.000149
4       0.000503
          ...
1611    0.000547
1612    0.000746
1613    0.000724
1614    0.000187
1615    0.000397
Name: benchmark, Length: 1616, dtype: float64
columns ->  caps
0       0.042045
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1611    0.011294
1612    0.000000
1613    0.007071
1614    0.000000
1615    0.000000
Name: caps, Length: 1616, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3      -1.000000
4       0.079040
          ...
1611    0.028143
1612   -0.026140
1613    0.029162
1614   -0.204806
1615    0.112866
Name: er, Length: 1616, dtype: float64
columns ->  selected
0       1
1       0
2       0
3       0
4       1
       ..
1611    1
1612    0
1613    1
1614    0
1615    0
Name: selected, Length: 1616, dtype: int64
columns ->  sector_name
0                       Energy
1                  Industrials
2                   Financials
3                           NA
4                   Financials
                 ...
1611    Information Technology
1612    Consumer Discretionary
1613               Health Care
1614                Financials
1615                Financials
Name: sector_name, Length: 1616, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1611    OTHERS
1612    OTHERS
1613    OTHERS
1614    OTHERS
1615    OTHERS
Name: region_name, Length: 1616, dtype: object
columns ->  min
0       0.001
1       0.000
2       0.000
3       0.000
4       0.001
        ...
1611    0.001
1612    0.000
1613    0.001
1614    0.000
1615    0.000
Name: min, Length: 1616, dtype: float64
columns ->  Wts
0       0.000000e+00
1       8.878538e-09
2       5.967995e-09
3       3.296157e-09
4       3.586480e-09
            ...
1611    1.181558e-03
1612    0.000000e+00
1613    7.071140e-03
1614    3.542826e-09
1615    4.047064e-09
Name: Wts, Length: 1616, dtype: float64
columns ->  Wts-II
0       9.999998e-04
1       1.207052e-11
2       5.744029e-11
3       1.546320e-10
4       9.999999e-04
            ...
1611    9.999991e-04
1612    5.543540e-10
1613    4.265037e-03
1614    0.000000e+00
1615    0.000000e+00
Name: Wts-II, Length: 1616, dtype: float64
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000642806
3       AT0000652011
4       AT0000720008
            ...
1606    US98421M1062
1607    US9884981013
1608    US98956P1021
1609    US9897011071
1610    ZAE000255360
Name: isin, Length: 1611, dtype: object
columns ->  benchmark
0       0.003387
1       0.000225
2       0.000139
3       0.000405
4       0.000360
          ...
1606    0.000557
1607    0.000674
1608    0.000715
1609    0.000221
1610    0.000445
Name: benchmark, Length: 1611, dtype: float64
columns ->  caps
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1606    0.014721
1607    0.000000
1608    0.011281
1609    0.000000
1610    0.000194
Name: caps, Length: 1611, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3       0.079040
4      -1.000000
          ...
1606    0.028143
1607   -0.026140
1608    0.029162
1609   -0.204806
1610    0.112866
Name: er, Length: 1611, dtype: float64
columns ->  selected
0       0
1       0
2       0
3       0
4       0
       ..
1606    1
1607    0
1608    1
1609    0
1610    1
Name: selected, Length: 1611, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                           NA
3                   Financials
4       Communication Services
                 ...
1606    Information Technology
1607    Consumer Discretionary
1608               Health Care
1609                Financials
1610                Financials
Name: sector_name, Length: 1611, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1606    OTHERS
1607    OTHERS
1608    OTHERS
1609    OTHERS
1610    OTHERS
Name: region_name, Length: 1611, dtype: object
columns ->  min
0       0.000
1       0.000
2       0.000
3       0.000
4       0.000
        ...
1606    0.001
1607    0.000
1608    0.001
1609    0.000
1610    0.001
Name: min, Length: 1611, dtype: float64
columns ->  Wts
0       2.671840e-08
1       0.000000e+00
2       0.000000e+00
3       1.003113e-08
4       9.104448e-09
            ...
1606    6.236965e-04
1607    0.000000e+00
1608    9.077413e-03
1609    3.018576e-08
1610    1.942993e-04
Name: Wts, Length: 1611, dtype: float64
columns ->  Wts-II
0       3.639512e-09
1       0.000000e+00
2       0.000000e+00
3       0.000000e+00
4       6.869653e-09
            ...
1606    1.000016e-03
1607    3.833684e-09
1608    7.305642e-03
1609    0.000000e+00
1610    1.000010e-03
Name: Wts-II, Length: 1611, dtype: float64
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT000000STR1
2       AT0000606306
3       AT0000642806
4       AT0000652011
            ...
1607    US98421M1062
1608    US9884981013
1609    US98956P1021
1610    US9897011071
1611    ZAE000255360
Name: isin, Length: 1612, dtype: object
columns ->  benchmark
0       0.004441
1       0.000076
2       0.000337
3       0.000151
4       0.000550
          ...
1607    0.000489
1608    0.000781
1609    0.000661
1610    0.000182
1611    0.000440
Name: benchmark, Length: 1612, dtype: float64
columns ->  caps
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1607    0.009707
1608    0.000000
1609    0.007267
1610    0.000000
1611    0.000201
Name: caps, Length: 1612, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3      -1.000000
4       0.079040
          ...
1607    0.028143
1608   -0.026140
1609    0.029162
1610   -0.204806
1611    0.112866
Name: er, Length: 1612, dtype: float64
columns ->  selected
0       0
1       0
2       0
3       0
4       1
       ..
1607    1
1608    0
1609    1
1610    0
1611    1
Name: selected, Length: 1612, dtype: int64
columns ->  sector_name
0                       Energy
1                  Industrials
2                   Financials
3                           NA
4                   Financials
                 ...
1607    Information Technology
1608    Consumer Discretionary
1609               Health Care
1610                Financials
1611                Financials
Name: sector_name, Length: 1612, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1607    OTHERS
1608    OTHERS
1609    OTHERS
1610    OTHERS
1611    OTHERS
Name: region_name, Length: 1612, dtype: object
columns ->  min
0       0.000
1       0.000
2       0.000
3       0.000
4       0.001
        ...
1607    0.001
1608    0.000
1609    0.001
1610    0.000
1611    0.001
Name: min, Length: 1612, dtype: float64
columns ->  Wts
0       0.000000e+00
1       4.114442e-09
2       3.136993e-09
3       1.083828e-08
4       1.652144e-08
            ...
1607    2.768301e-03
1608    0.000000e+00
1609    7.267487e-03
1610    0.000000e+00
1611    2.011813e-04
Name: Wts, Length: 1612, dtype: float64
columns ->  Wts-II
0       0.000000e+00
1       0.000000e+00
2       1.504192e-09
3       0.000000e+00
4       1.000001e-03
            ...
1607    1.292773e-03
1608    8.923797e-10
1609    7.267246e-03
1610    2.995415e-09
1611    1.000001e-03
Name: Wts-II, Length: 1612, dtype: float64
######################## S3Connection ######################
isin            object
benchmark      float64
caps           float64
er             float64
selected         int64
sector_name     object
region_name     object
min            float64
Wts            float64
Wts-II         float64
dtype: object
columns ->  isin
0       AN8068571086
1       AT0000606306
2       AT0000642806
3       AT0000652011
4       AT0000720008
            ...
1609    US98421M1062
1610    US9884981013
1611    US98956P1021
1612    US9897011071
1613    ZAE000255360
Name: isin, Length: 1614, dtype: object
columns ->  benchmark
0       0.003819
1       0.000267
2       0.000158
3       0.000501
4       0.000346
          ...
1609    0.000556
1610    0.000667
1611    0.000539
1612    0.000200
1613    0.000569
Name: benchmark, Length: 1614, dtype: float64
columns ->  caps
0       0.040303
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1609    0.009928
1610    0.004372
1611    0.007387
1612    0.000000
1613    0.000269
Name: caps, Length: 1614, dtype: float64
columns ->  er
0      -0.006845
1      -1.000000
2      -1.000000
3       0.079040
4      -1.000000
          ...
1609    0.028143
1610   -0.026140
1611    0.029162
1612   -0.204806
1613    0.112866
Name: er, Length: 1614, dtype: float64
columns ->  selected
0       1
1       0
2       0
3       0
4       0
       ..
1609    1
1610    1
1611    1
1612    0
1613    1
Name: selected, Length: 1614, dtype: int64
columns ->  sector_name
0                       Energy
1                   Financials
2                           NA
3                   Financials
4       Communication Services
                 ...
1609    Information Technology
1610    Consumer Discretionary
1611               Health Care
1612                Financials
1613                Financials
Name: sector_name, Length: 1614, dtype: object
columns ->  region_name
0       OTHERS
1         EMEA
2         EMEA
3         EMEA
4         EMEA
         ...
1609    OTHERS
1610    OTHERS
1611    OTHERS
1612    OTHERS
1613    OTHERS
Name: region_name, Length: 1614, dtype: object
columns ->  min
0       0.001
1       0.000
2       0.000
3       0.000
4       0.000
        ...
1609    0.001
1610    0.001
1611    0.001
1612    0.000
1613    0.001
Name: min, Length: 1614, dtype: float64
columns ->  Wts
0       3.200379e-09
1       2.048100e-10
2       2.648023e-09
3       0.000000e+00
4       0.000000e+00
            ...
1609    7.800744e-04
1610    5.782380e-09
1611    7.334577e-03
1612    0.000000e+00
1613    2.693500e-04
Name: Wts, Length: 1614, dtype: float64
columns ->  Wts-II

In [ ]:
for date in rebalance_dates:
    if

'test/portfolio-rebalance/hsbc_te300/weights/max_er_3/'